My[[:space:]]project[[:space:]](3)/Library/PackageCache/com.unity.burst@1.8.7/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text
My[[:space:]]project[[:space:]](3)/Library/PlayerDataCache/Win642/Data/sharedassets1.assets.resS filter=lfs diff=lfs merge=lfs -text
